.dosis{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body{
    padding-bottom: 5%;
    font-size: 18px;
    font-family: "Dosis";
}

a{
    color: black;
    text-decoration: none;
}

header{
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

header a{
    color : black;
    text-decoration: none;
}

header a:hover{
    color : beige;
}

header h2{
    color : black;
}


#presentation{
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
}

#presentation img{
    margin-right: 10px;
    border-radius: 50%;
    margin-top: 50px;
}
#presentation div{
    text-align: justify;
    padding-left: 10px;
    margin-top: 50px;
}

#lien_page{
    
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    margin: auto;
}

#lien_page p{
    margin-top: 10%;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lien_page .formation{
    background-color: aquamarine;
}

#lien_page .projet{
    background-color: lightpink;
}

#lien_page .personnel{
    background-color: lightgreen;
}

#lien_page .hobbie{
    background-color: lightcoral;
}

#liste_projets{
    margin-top: 5%;
}

#liste_projets ul li a{
    color: green;
    text-decoration: none;
}

#liste_projets ul li a:hover{
    text-decoration: underline;
}

h2{
    text-align: center;
    color : navy;
}

h3{
    color : navy;
}

#ExtractInfoSGBD p{
    text-align: justify;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.onScroll_h{
	transition: 0.9s;
    position: fixed;
    background-color: rgb(223, 222, 222);
    width: 80%;
    top: 0px;
    color: white;
}

strong:hover{
    zoom: 2;
}