body{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    font-size: 16px;
}

#presentation img{
    float: left;
    margin-right: 10px;
}
#presentation p{
    text-align: justify;
}

#liste_projets{
    margin-top: 5%;
}

#liste_projets ul li a{
    color: green;
    text-decoration: none;
}

#liste_projets ul li a:hover{
    text-decoration: underline;
}

h2{
    text-align: center;
    color : navy;
}

h3{
    color : navy;
}

#ExtractInfoSGBD p{
    text-align: justify;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.onScroll_h{
	transition: 0.9s;
    position: fixed;
    background-color: rgb(223, 222, 222);
    width: 80%;
    top: 0px;
    color: white;
}